.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}
.signIn {
  min-height: 100%;
  padding-top: 15rem;
  padding-bottom: 22.3rem;

}
.signUp {
  min-height: 100%;
  padding-top: 11.11rem;
  padding-bottom: 19.15rem;

}
footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  background-color: #FF7F50;
  color: white;
}

footer.contact-button {
  color: #FCFFA6;
}
