.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

footer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  background-color: #FF7F50;
  color: white;
}

footer.contact-button {
  color: #FCFFA6;
}
