.navbar .nav {
    justify-content: space-between;
}

#signup-btn {
    border-radius: 4px;
    color: #fff;
    background-color: #5271FF;
}

#signup-btn:hover {
    border-radius: 4px;
}

.login-section {
    display: flex;
    width: 12%;
    justify-content: space-between;
}

.carousal-inner {
    border-radius: 0.5rem;
}

