.navbar .nav {
    justify-content: space-between;
}

#signup-btn {
    border-radius: 8px;
}

#signup-btn:hover {
    border-radius: 8px;
}

#login-btn {
    border-radius: 8px;
}

#login-btn:hover {
    border-radius: 8px;
}

.login-section {
    display: flex;
    width: 12%;
    justify-content: space-between;
}